## ต้องลง - conda install pandas- ก่อนที่จะ import pandas   
## อยู่ใน New -> terminal

## ตั้งชื่อในpandas ว่า pd

In [6]:
import pandas as pd

## สร้างตัวแปรเพื่อเก็บไฟล์ 
## PATH คือที่อยู่ของไฟล์
## เพิ่ม \ สองอัน

In [7]:
w_restaurant_PATH = 'C:\\Users\\User\\Desktop\\w_restaurant.csv'
seach_click_PATH = 'C:\\Users\\User\\Desktop\\search_click.csv'

## โหลดไฟล์เข้ามา load files into memory สร้างตัวแปรมารับ

In [8]:
w_restaurant_df = pd.read_csv(w_restaurant_PATH, encoding = 'unicode_escape')
seach_click_df = pd.read_csv(seach_click_PATH, encoding = 'unicode_escape')

## เรียกไฟล์มาดูใช้คำสั่ง

In [9]:
w_restaurant_df

,id,name,domain_id,closed,city_name,zipcode,geohash,new_open,weighted_average_rating,number_of_chains,...,good_for_groups,good_for_kids,bookable,best_of_wongnai,wifi,number_of_seats,music_venue,hotel_restaurant,pet_friendly,delivery
0,2,à¸à¸à¸£à¸´à¸à¸à¸£à¹à¸à¸±à¸à¸à¸à¸£à¸£à¸¡,2,0,Samut Songkhram,75000,w4rh7g3,0,5.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN
1,4,Corner House,1,0,Bangkok Metropolitan Region,12150,w4rx73h,0,2.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5,à¸§à¸±à¸à¹à¸¥à¸à¸¢à¸ªà¸¸à¸à¸²à¸£à¸²à¸¡,4,0,Phra Nakhon Si Ayutthaya,13000,w4x98jk,0,4.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6,à¸à¸±à¸à¸à¹à¸à¸²à¸£à¸²à¹à¸­à¹à¸à¸°,1,0,Bangkok Metropolitan Region,10700,w4rqw9q,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7,Buono Caffe,1,0,Bangkok Metropolitan Region,10220,w4rx4gd,0,3.738462,NaN,...,NaN,NaN,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246842,340068,Sushi Tama,1,0,Bangkok Metropolitan Region,11130,w4rqtcb,0,3.663522,3.0,...,0.0,1.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
246843,340070,à¸ªà¸°à¸à¸²à¸¢à¸à¸µ à¸à¸²à¸£à¸²à¹à¸­à¹à¸à¸°,1,0,Bangkok Metropolitan Region,NaN,w4rwjcg,0,0.000000,NaN,...,1.0,NaN,1.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN
246844,340074,à¸ªà¹à¸à¹à¸à¹à¸¡à¹&à¸à¸²à¹à¸à¸¥à¸¹à¸,1,0,Bangkok Metropolitan Region,10160,w4rmvxf,0,4.000000,NaN,...,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246845,340079,Mom Made,1,0,Nakhon Si Thammarat,80000,w1x04g6,0,5.000000,NaN,...,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246846,340091,à¸à¹à¸§à¸¢à¹à¸à¸µà¹à¸¢à¸§à¸«à¸¡à¸¹à¸à¹à...,1,0,Suphan Buri,72000,w4x4q7s,0,3.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## เรียกไฟล์มาดูใช้คำสั่งเฉพาะหัวตาราง

In [10]:
seach_click_df.head()

,click_timestamp,search_id,business_id,display_position,time_diff_nanos,ads
0,11:38.9,5c004472-5ecc-4159-9698-9f329b8e26e1,298839.0,0,2.220000e+15,True
1,30:51.3,5f34eca0-c04e-4c10-b600-54aa447dbd8e,171372.0,0,4.610000e+14,True
2,32:09.6,8dc6d1f0-11f1-4239-9dd2-5c1674c81224,16157.0,0,2.580000e+15,True
3,00:59.8,1a5810e9-3d1f-44b9-9a2e-26ede21c524b,89741.0,1,1.400000e+15,True
4,23:36.8,6bc75e0d-fc65-471e-9926-ff6be6708639,189564.0,1,9.330000e+14,True

## เรียกไฟล์มาดูใช้คำสั่งเฉพาะท้ายตาราง

In [6]:
seach_click_df.tail()

,click_timestamp,search_id,business_id,display_position,time_diff_nanos,ads
1048570,05:28.8,99aab616-6fc5-4fbf-994b-4aebee7bb360,278479.0,8,2.070000e+11,False
1048571,15:28.8,d70a2c5d-ee94-4e4c-9f7c-c5faac6db12a,321885.0,8,6.931413e+10,False
1048572,11:49.4,4c1de7fe-300e-41aa-9d01-914344fc3753,221035.0,8,3.105162e+10,False
1048573,10:33.7,2ec0ddec-e450-4b98-9779-42b77aa7eda5,220572.0,8,7.848904e+10,False
1048574,13:51.4,5741d9cf-b9f1-441d-aa83-d2b0179bf874,310448.0,8,3.157757e+10,False

## คำสั่งดูรูปร่างตาราง(มีdataกี่ตัว,จำนวนแถว)

In [7]:
seach_click_df.shape

(1048575, 6)

## Data preprocessing

## missing คือที่อยู่ในตารางแล้วไม่มีค่า
## คำสั่งนี้จะเข้าไปดูแต่ละช่องว่ามี isnull มั้ย

In [8]:
w_restaurant_df.isnull()

,id,name,domain_id,closed,city_name,zipcode,geohash,new_open,weighted_average_rating,number_of_chains,...,good_for_groups,good_for_kids,bookable,best_of_wongnai,wifi,number_of_seats,music_venue,hotel_restaurant,pet_friendly,delivery
0,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,False,True,True,True,True
1,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,True,True,True,True,True
2,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,True,True,True,True,True
3,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,True,True,True,True,True
4,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,False,False,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246842,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,True,True,True,True,True
246843,False,False,False,False,False,True,False,False,False,True,...,False,True,False,True,True,False,True,True,True,True
246844,False,False,False,False,False,False,False,False,False,True,...,False,False,False,True,True,True,True,True,True,True
246845,False,False,False,False,False,False,False,False,False,True,...,False,False,False,True,True,True,True,True,True,True
246846,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,True,True,True,True,True

## จะเอาหลักมารวมกันเพื่อให้ดูง่าย

In [9]:
w_restaurant_df.isnull().any()

id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                     True
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains            True
number_of_bookmarks         True
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                 True
avg_price                   True
parking                     True
credit_card_accepted        True
good_for_groups             True
good_for_kids               True
bookable                    True
best_of_wongnai             True
wifi                        True
number_of_seats             True
music_venue                 True
hotel_restaurant            True
pet_friendly                True
delivery                    True
dtype: bool

## วิธีจัดการ missing
## 1.ตัดออก
## 2.แทนค่า missing
## 3.หาค่าเฉลี่ยมาเติม

## วิธีแก้ แบบ 1.ตัดออก delete with missing value จะลบค่าที่มีmissing ออก
## na แปลว่าไม่มีค่า

In [10]:
w_restaurant_df.dropna(subset = ['zipcode','number_of_chains'])

,id,name,domain_id,closed,city_name,zipcode,geohash,new_open,weighted_average_rating,number_of_chains,...,good_for_groups,good_for_kids,bookable,best_of_wongnai,wifi,number_of_seats,music_venue,hotel_restaurant,pet_friendly,delivery
61,114,à¸¡à¸²à¸à¸µà¸¡à¸µà¸à¸¡,1,0,Bangkok Metropolitan Region,10312,w4rw3e0,0,3.793103,18.0,...,NaN,NaN,NaN,NaN,1.0,2.0,NaN,NaN,NaN,1.0
114,224,à¸ªà¹à¸à¹à¸à¸¥à¸¸à¸à¸«à¸à¸§à¸,1,0,Bangkok Metropolitan Region,10120,w4rmwyw,0,3.744000,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,225,Mr.shake,1,0,Bangkok Metropolitan Region,10150,w4rmky3,0,0.000000,19.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,267,KFC,1,0,Bangkok Metropolitan Region,10170,w4rqq7v,0,2.846154,629.0,...,NaN,NaN,NaN,NaN,0.0,3.0,NaN,NaN,NaN,NaN
140,297,Miss Mamon,1,1,Bangkok Metropolitan Region,10400,w4rw22t,0,3.147959,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246722,339787,Chang coffee,1,0,Chiang Mai,50100,w5q6szv,0,3.537037,102.0,...,1.0,0.0,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN
246752,339864,Hokkaido,1,0,Bangkok Metropolitan Region,10170,w4rqkf3,0,3.191781,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246815,340000,à¸ªà¹à¸à¹à¸à¸¥à¸¸à¸à¸«à¸à¸§à¸,1,0,Nakhon Sawan,17000,w4xqf9k,0,3.166667,98.0,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246834,340048,Kuppadeli,1,1,Bangkok Metropolitan Region,10110,w4rw0e8,0,0.000000,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246842,340068,Sushi Tama,1,0,Bangkok Metropolitan Region,11130,w4rqtcb,0,3.663522,3.0,...,0.0,1.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN

## หาตัวแปรมารับ

In [11]:
w_restaurant_df = w_restaurant_df.dropna(subset = ['zipcode','number_of_chains'])

## 2.แทนค่า missing, fill defauit value to the data

## จะเติมค่าที่เป็นmissing ด้วย 0

In [12]:
w_restaurant_df['parking'].fillna(0)

61        3.0
114       3.0
115       0.0
131       3.0
140       3.0
         ...
246722    1.0
246752    3.0
246815    3.0
246834    0.0
246842    3.0
Name: parking, Length: 13669, dtype: float64

## update ข้อมูลในตาราง

In [13]:
w_restaurant_df['parking'] = w_restaurant_df['parking'].fillna(0)

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## วิธีตัดตารางมาเฉพาะบางส่วนของตาราง select part the table by value
## ได้listของบุริน

### 1.ต้องการร้านที่มีที่จอดรถมากกว่า 5 จะได้ค่า T or F

In [14]:
w_restaurant_df['parking'] > 5

61        False
114       False
115       False
131       False
140       False
          ...
246722    False
246752    False
246815    False
246834    False
246842    False
Name: parking, Length: 13669, dtype: bool

## 2.เลือกค่าในตาราง

## part of table = table[data_condition == True]

In [15]:
w_restaurant_df[w_restaurant_df['parking']>=3]

,id,name,domain_id,closed,city_name,zipcode,geohash,new_open,weighted_average_rating,number_of_chains,...,good_for_groups,good_for_kids,bookable,best_of_wongnai,wifi,number_of_seats,music_venue,hotel_restaurant,pet_friendly,delivery
61,114,à¸¡à¸²à¸à¸µà¸¡à¸µà¸à¸¡,1,0,Bangkok Metropolitan Region,10312,w4rw3e0,0,3.793103,18.0,...,NaN,NaN,NaN,NaN,1.0,2.0,NaN,NaN,NaN,1.0
114,224,à¸ªà¹à¸à¹à¸à¸¥à¸¸à¸à¸«à¸à¸§à¸,1,0,Bangkok Metropolitan Region,10120,w4rmwyw,0,3.744000,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,267,KFC,1,0,Bangkok Metropolitan Region,10170,w4rqq7v,0,2.846154,629.0,...,NaN,NaN,NaN,NaN,0.0,3.0,NaN,NaN,NaN,NaN
140,297,Miss Mamon,1,1,Bangkok Metropolitan Region,10400,w4rw22t,0,3.147959,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
149,344,Inthanin Coffee,1,0,Bangkok Metropolitan Region,10700,w4rqx1q,0,3.000000,213.0,...,NaN,NaN,NaN,NaN,0.0,2.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246646,339670,Four Seasons Chinese Restaurant,1,0,Bangkok Metropolitan Region,10230,w4rw98b,0,3.781711,6.0,...,NaN,NaN,NaN,NaN,0.0,3.0,NaN,NaN,NaN,NaN
246684,339718,Jeffer Steak,1,0,Bangkok Metropolitan Region,10312,w4rw37q,0,4.000000,87.0,...,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246752,339864,Hokkaido,1,0,Bangkok Metropolitan Region,10170,w4rqkf3,0,3.191781,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246815,340000,à¸ªà¹à¸à¹à¸à¸¥à¸¸à¸à¸«à¸à¸§à¸,1,0,Nakhon Sawan,17000,w4xqf9k,0,3.166667,98.0,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246842,340068,Sushi Tama,1,0,Bangkok Metropolitan Region,11130,w4rqtcb,0,3.663522,3.0,...,0.0,1.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN

## HW select all restaurants from your hometown เลือกจังหวัดของตนเอง

In [16]:
w_restaurant_df = pd.read_csv(w_restaurant_PATH ,encoding = 'unicode_escape')

In [17]:
set(w_restaurant_df['city_name'])

{'Abu Dhabi',
 'Aichi-ken',
 'Akershus',
 'Akita-ken',
 'Al Farwaniyah Governorate',
 'Alabama',
 'Alaska',
 'Alberta',
 'Amnat Charoen',
 'AndalucÃ\xada',
 'Ang Thong',
 'Aomori-ken',
 'Appenzell Ausserrhoden',
 'Appenzell Innerrhoden',
 'AragÃ³n',
 'Argyll and Bute',
 'Arizona',
 'Attica',
 'Auckland',
 'Australia',
 'Auvergne-RhÃ´ne-Alpes',
 'AydÄ±n',
 'Ba Ria - Vung Tau',
 'Baden-Wurttemberg',
 'Bago Region',
 'Bahia',
 'Bali',
 'Balochistan',
 'Bangkok Metropolitan Region',
 'Banteay Meanchey Province',
 'Banten',
 'Basel-Stadt',
 'Basilicata',
 'Basrah',
 'Battambang',
 'Bay Of Plenty',
 'Bayern',
 'Berlin',
 'Bern',
 'Bihar',
 'Binh Thuan',
 'Binh Thuan province',
 'Borno',
 'Bratislava',
 'Bremen',
 'Bretagne',
 'British Columbia',
 'Brussels Hoofdstedelijk Gewest',
 'Buckinghamshire',
 'Budapest',
 'Bueng Kan',
 'Buri Ram',
 'Busan',
 'Buskerud',
 'C2 MALL',
 'CALABARZON',
 'Cairo Governorate',
 'California',
 'Cambodia',
 'Canterbury',
 'Capital Governorate',
 'Capital Region',
 'Capital Region of Denmark',
 'Castilla-La Mancha',
 'Catalonia',
 'Central Development Region',
 'Central Visayas',
 'Centre-Val de Loire',
 'Chachoengsao',
 'Chai Nat',
 'Chaiyaphum',
 'Champasak Province',
 'Changhua County',
 'Chanthaburi',
 'Chiang Mai',
 'Chiang Rai',
 'Chiayi City',
 'Chiayi County',
 'Chiba-ken',
 'China',
 'Chon Buri',
 'Chongqing Shi',
 'Chumphon',
 'Chungcheongnam-do',
 'City of Zagreb',
 'Colorado',
 'Comunidad de Madrid',
 'County Cork',
 'County Dublin',
 'County Galway',
 'County Kerry',
 'Cusco',
 'Daegu',
 'Daejeon',
 'Daerah Brunei-Muara',
 'Daerah Istimewa Yogyakarta',
 'Dar es Salaam',
 'Delhi',
 'Denizli',
 'Departamento de La Paz',
 'Departamento de PotosÃ\xad',
 'District of Columbia',
 'Dubai',
 'DubrovaÄ\x8dko-neretvanska Å¾upanija',
 'Ehime-ken',
 'England',
 'Espoo',
 'Federal',
 'Finland',
 'Finnmark',
 'Florida',
 'Fribourg',
 'Fujian Sheng',
 'Fukui-ken',
 'Fukuoka-ken',
 'Fukushima-ken',
 'Gangwon-do',
 'Gelderland',
 'Geneva',
 'George Town',
 'Georgia',
 'Gifu-ken',
 'Gloucestershire',
 'Gombe',
 'Grand Est',
 'GraubÃ¼nden',
 'Greater London',
 'Greater Manchester',
 'Guangdong Sheng',
 'Guangxi Zhuangzuzizhiqu',
 'Guinea',
 'Gunma-ken',
 'Gyeonggi-do',
 'Gyeongsangbuk-do',
 'Hainan Sheng',
 'Hampshire',
 'Harju maakond',
 'Hauts-de-France',
 'Hawaii',
 'Hessen',
 'Hiiraan',
 'Hiroshima-ken',
 'Hokkaido',
 'Hordaland',
 'Hsinchu City',
 'Hsinchu County',
 'Hua Hin',
 'Hunan',
 'Hyogo-ken',
 'HÃ\xa0 Ná»\x99i',
 'HÃ¶fn Ã\xad HornafirÃ°i',
 'Há»\x93 ChÃ\xad Minh',
 'Ibaraki-ken',
 'Iceland',
 'Illinois',
 'Incheon',
 'India',
 'Inner Mongolia',
 'Ireland',
 'Ishikawa-ken',
 'Istanbul',
 'Iwate-ken',
 'Jakarta Capital Region',
 'Jawa Barat',
 'Jawa Timur',
 'Jeju-do',
 'Jeollabuk-do',
 'Jharkhand',
 'Jiangsu Sheng',
 'Jiangxi Sheng',
 'JihoÄ\x8deskÃ½ kraj',
 'Johor',
 'JudeÈ\x9bul ConstanÈ\x9ba',
 'Kagoshima',
 'Kalasin',
 'Kamphaeng Phet',
 'Kanagawa-ken',
 'Kanchanaburi',
 'Kaohsiung City',
 'Karlovy Vary Region',
 'Karnataka',
 'Kayes',
 'Kedah',
 'Keelung City',
 'Kelantan',
 'Kepulauan Riau',
 'Khammouane Province',
 'Khartoum',
 'Khon Kaen',
 'KhÃ¡nh HoÃ\xa0',
 'Kinshasa',
 'Koh Kong Province',
 'Kowloon',
 'Krabi',
 'Kumamoto-ken',
 'Kyoto-fu',
 'KÃ¸benhavn',
 'Lac',
 'Lampang',
 'Lamphun',
 'Lancashire',
 'Lao Cai',
 'Lazio',
 "Leningradskaya oblast'",
 'Liaoning',
 'Liguria',
 'Lima',
 'Limerick',
 'Lisboa',
 'Lithuania',
 'LiÄ\x8dko-senjska Å¾upanija',
 'Loei',
 'Lombardia',
 'Lopburi',
 'Louisiana',
 'Luang Prabang Province',
 'Luxembourg',
 'Luxor Governorate',
 'Luzern',
 'LÃ¢m Ä\x90á»\x93ng',
 'Macau',
 'Madrid',
 'Magway Region',
 'Maha Sarakham',
 'Maharashtra',
 'Malacca',
 'Maldives',
 'Mandalay Region',
 'Marlborough',
 'Maryland',
 'Masovian Voivodeship',
 'Massachusetts',
 'Mayo',
 'Metro Manila',
 'Michigan',
 'Mid-Western Development Region',
 'Mie-ken',
 'Minnesota',
 'Miyagi-ken',
 'Mon State',
 'Moscow',
 "Moskovskaya oblast'",
 'Mukdahan',
 'Munxar',
 "Murmanskaya oblast'",
 'Nagano-ken',
 'Nagasaki-ken',
 'Nakhon Nayok',
 'Nakhon Phanom',
 'Nakhon Ratchasima',
 'Nakhon Sawan',
 'Nakhon Si Thammarat',
 'Nan',
 'Nantou County',
 'Nara-ken',
 'Narathiwat',
 'Naxos',
 'Negeri Sembilan',
 'Nevada',
 'Nevsehir',
 'New Hampshire',
 'New Jersey',
 'New South Wales',
 'New Taipei City',
 'New Territories',
 'New York',
 'New Zealand',
 'Newfoundland and Labrador',
 'Nghá»\x87 An',
 'Niedersachsen',
 'NiederÃ¶sterreich',
 'Niigata-ken',
 'Nong Bua Lam Phu',
 'Nong Khai',
 'Noord-Holland',
 'Nordrhein-Westfalen',
 'Normandie',
 'North Central Province',
 'Northern Ireland',
 'Northern Territory',
 'Nouvelle-Aquitaine',
 "Novosibirskaya oblast'",
 'Nusa Tenggara Barat',
 'Oaxaca',
 'OberÃ¶sterreich',
 'Obwalden',
 'Ohio',
 'Okayama-ken',
 'Okinawa-ken',
 'Oklahoma',
 'Ontario',
 'Oregon',
 'Oslo',
 'Otago',
 'Pahang',
 'Pakistan',
 'Palau',
 'Pardubice Region',
 'Pattani',
 'Penang',
 'Pennsylvania',
 'Perak',
 'Phang-nga',
 'Phatthalung',
 'Phayao',
 'Phetchabun',
 'Phetchaburi',
 'Phichit',
 'Phitsanulok',
 'Phnom Penh',
 'Phra Nakhon Si Ayutthaya',
 'Phrae',
 'Phuket',
 'Piemonte',
 'PlzeÅ\x88 Region',
 'Porto',
 'Postojna',
 'Prachin Buri',
 'Prachuap Khiri Khan',
 'Prague',
 'Preah Sihanouk',
 'Primorskiy kray',
 'Primorsko-goranska Å¾upanija',
 "Provence-Alpes-CÃ´te d'Azur",
 'Pulau Pinang',
 'Punjab',
 'Qatar',
 'Qinghai Sheng',
 'Quebec',
 'Queensland',
 'Quáº£ng Nam',
 'Quáº£ng Ninh',
 'Ranong',
 'Ratchaburi',
 'Rayong',
 'Region Zealand',
 'Rheinland-Pfalz',
 'Riau',
 'Roi Et',
 'RÃ©gion de Kidal',
 'RÄ«gas pilsÄ\x93ta',
 'Sa Kaeo',
 'Sabah',
 'Sachsen-Anhalt',
 'Saga-ken',
 'Saint Petersburg',
 'Sainyabuli Province',
 'Saitama-ken',
 'Sakon Nakhon',
 'Salzburg',
 'Samut Songkhram',
 'Sankt Gallen',
 'Saraburi',
 'Satun',
 'Savannakhet Province',
 'Saxony',
 'Schaffhausen',
 'Scotland',
 'Selangor',
 'Seoul',
 'SetÃºbal',
 'Shaanxi Sheng',
 'Shan',
 'Shandong Sheng',
 'Shanghai',
 'Shanxi Sheng',
 'Shiga-ken',
 'Shizuoka-ken',
 'Si Sa Ket',
 'Sichuan Sheng',
 'Siem Reap',
 'Sing Buri',
 'Singapore',
 'Slough',
 'South Carolina',
 'Southern Islands',
 'Southland',
 'Splitsko-dalmatinska Å¾upanija',
 'Stavropolskiy kray',
 'Stockholms lÃ¤n',
 'Sukhothai',
 'Sumatera Utara',
 'Suphan Buri',
 'Surat Thani',
 'Surin',
 'Svay Rieng',
 'Taichung City',
 'Tainan City',
 'Taipei City',
 'Tak',
 'Tamil Nadu',
 'Tanintharyi Region',
 'Taoyuan City',
 'Tasmania',
 'Tehran',
 'Telangana',
 'Texas',
 'Thailand',
 'Thimphu',
 'Thua Thien Hue',
 'Tianjin',
 'Ticino',
 'Tirol',
 'Tochigi-ken',
 'Tokyo-to',
 'Tottori-ken',
 'Toyama-ken',
 'Trabzon',
 'Trang',
 'Trat',
 'Troms',
 'Tuscany',
 'Ubon Ratchathani',
 'Udon Thani',
 'Uri',
 'Utah',
 'Uthai Thani',
 'Utrecht',
 'Uttar Pradesh',
 'Uttaradit',
 'Vaduz',
 'Valais',
 'Valletta',
 'Vantaa',
 'Vaud',
 'Veneto',
 'Victoria',
 'Vientiane Prefecture',
 'Vientiane Province',
 'Virginia',
 'Vlaanderen',
 "Vladimirskaya oblast'",
 'Vorarlberg',
 'Waikato',
 'Wakayama-ken',
 'Wales',
 'Wallonie',
 'Washington',
 'Waterford',
 'West Bengal',
 'West Midlands',
 'West Sussex',
 'Western Australia',
 'Western Cape',
 'Wien',
 'Wilayah Persekutuan Putrajaya',
 'Wisconsin',
 'WojewÃ³dztwo podkarpackie',
 'Xinjiang Weiwuerzizhiqu',
 'Xizang (Tibet)',
 'Yala',
 'Yamagata-ken',
 'Yamaguchi-ken',
 'Yamanashi-ken',
 'Yangon',
 'Yasothon',
 'Yilan County',
 'Yunlin County',
 'Yunnan Sheng',
 'Zhejiang',
 'Zuid-Holland',
 'Zurich',
 'kujawsko-pomorskie',
 'lubelskie',
 'maÅ\x82opolskie',
 'pomorskie',
 'tá»\x89nh KiÃªn Giang',
 'wielkopolskie',
 'Ã\x87anakkale',
 'Ã\x8ele-de-France',
 'Ä\x90iá»\x87n BiÃªn',
 'Ä\x90Ã\xa0 Náºµng',
 'Ä°stanbul',
 'Ä°zmir',
 'Å\x8cita-ken',
 'Å\x8csaka-fu',
 'Ù\x85Ø\xadØ§Ù\x81Ø¸Ø© Ø§Ù\x84Ù\x85Ø\xadØ±Ù\x82',
 'à¸ªà¸\x87à¸\x82à¸¥à¸²',
 'à¹\x80à¸\x82à¸²à¹\x83à¸«à¸\x8dà¹\x88'}

In [18]:
 w_restaurant_df[w_restaurant_df['city_name']] = 'Khon Kaen'

In [19]:
w_restaurant_df['name']

0          à¸à¸à¸£à¸´à¸à¸à¸£à¹à¸à¸±à¸à¸à¸à¸£à¸£à¸¡
1                                              Corner House
2                à¸§à¸±à¸à¹à¸¥à¸à¸¢à¸ªà¸¸à¸à¸²à¸£à¸²à¸¡
3                à¸à¸±à¸à¸à¹à¸à¸²à¸£à¸²à¹à¸­à¹à¸à¸°
4                                               Buono Caffe
                                ...
246842                                           Sushi Tama
246843    à¸ªà¸°à¸à¸²à¸¢à¸à¸µ à¸à¸²à¸£à¸²à¹à¸­à¹à¸à¸°
246844       à¸ªà¹à¸à¹à¸à¹à¸¡à¹&à¸à¸²à¹à¸à¸¥à¸¹à¸
246845                                             Mom Made
246846    à¸à¹à¸§à¸¢à¹à¸à¸µà¹à¸¢à¸§à¸«à¸¡à¸¹à¸à¹à...
Name: name, Length: 246847, dtype: object

## save table to a file

In [ ]:
w_restaurant_df.to_csv('test.csv')

# Week 2

In [2]:
import pandas as pd

In [3]:
w_restaurant_PATH = 'C:\\Users\\User\\Desktop\\w_restaurant.csv'
seach_click_PATH = 'C:\\Users\\User\\Desktop\\search_click.csv'
w_restaurant_df = pd.read_csv(w_restaurant_PATH, encoding = 'unicode_escape')
seach_click_df = pd.read_csv(seach_click_PATH, encoding = 'unicode_escape')

In [4]:
w_restaurant_df.head()

,id,name,domain_id,closed,city_name,zipcode,geohash,new_open,weighted_average_rating,number_of_chains,...,good_for_groups,good_for_kids,bookable,best_of_wongnai,wifi,number_of_seats,music_venue,hotel_restaurant,pet_friendly,delivery
0,2,à¸à¸à¸£à¸´à¸à¸à¸£à¹à¸à¸±à¸à¸à¸à¸£à¸£à¸¡,2,0,Samut Songkhram,75000,w4rh7g3,0,5.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN
1,4,Corner House,1,0,Bangkok Metropolitan Region,12150,w4rx73h,0,2.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5,à¸§à¸±à¸à¹à¸¥à¸à¸¢à¸ªà¸¸à¸à¸²à¸£à¸²à¸¡,4,0,Phra Nakhon Si Ayutthaya,13000,w4x98jk,0,4.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6,à¸à¸±à¸à¸à¹à¸à¸²à¸£à¸²à¹à¸­à¹à¸à¸°,1,0,Bangkok Metropolitan Region,10700,w4rqw9q,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7,Buono Caffe,1,0,Bangkok Metropolitan Region,10220,w4rx4gd,0,3.738462,NaN,...,NaN,NaN,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN

## select only some clummns ตัดตารางด้านแนวตั้ง

In [6]:
small_table = w_restaurant_df[['name','city_name','zipcode','weighted_average_rating']]

In [8]:
seach_click_df.head()

,click_timestamp,search_id,business_id,display_position,time_diff_nanos,ads
0,11:38.9,5c004472-5ecc-4159-9698-9f329b8e26e1,298839.0,0,2.220000e+15,True
1,30:51.3,5f34eca0-c04e-4c10-b600-54aa447dbd8e,171372.0,0,4.610000e+14,True
2,32:09.6,8dc6d1f0-11f1-4239-9dd2-5c1674c81224,16157.0,0,2.580000e+15,True
3,00:59.8,1a5810e9-3d1f-44b9-9a2e-26ede21c524b,89741.0,1,1.400000e+15,True
4,23:36.8,6bc75e0d-fc65-471e-9926-ff6be6708639,189564.0,1,9.330000e+14,True

In [10]:
w_restaurant_df['id']

0              2
1              4
2              5
3              6
4              7
           ...
246842    340068
246843    340070
246844    340074
246845    340079
246846    340091
Name: id, Length: 246847, dtype: int64


## Add column from another table ไปตัดตารางอีกตารางมาใส่ไว้

### หาที่เหมือนกันมารวมตาราง - ตารางsmall จะเพิ่มค่า idลงไป จะเท่ากับ w_restaurant

In [9]:
small_table['id'] = w_restaurant_df['id']

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## .map()

## เพิ่มcolumnในตารางอีกหนึ่งcolumn

### add business name to search_click เพิ่มตาราง business ในsearch_click

In [16]:
seach_click_df.head()

,click_timestamp,search_id,business_id,display_position,time_diff_nanos,ads,business_name
0,11:38.9,5c004472-5ecc-4159-9698-9f329b8e26e1,298839.0,0,2.220000e+15,True,à¸à¸¹à¸à¸­à¸à¸­à¸±à¸à¸¢à¸­à¸ Eight
1,30:51.3,5f34eca0-c04e-4c10-b600-54aa447dbd8e,171372.0,0,4.610000e+14,True,Yoshinoya
2,32:09.6,8dc6d1f0-11f1-4239-9dd2-5c1674c81224,16157.0,0,2.580000e+15,True,The Hub Cafe and Eatery
3,00:59.8,1a5810e9-3d1f-44b9-9a2e-26ede21c524b,89741.0,1,1.400000e+15,True,à¸à¸±à¹à¸à¹à¸«à¹ à¹à¸ªà¸µà¹à¸¢à¸§à¸«à¸¥...
4,23:36.8,6bc75e0d-fc65-471e-9926-ff6be6708639,189564.0,1,9.330000e+14,True,Yoshinoya

## seach_click_df['ชื่อcolumที่จะสร้าง'] = seach_click_df['business_id'].map(small_table.set_index('id')['อยากได้ค่าอะไรจากตารางรอง'])

In [15]:
seach_click_df['business_name'] = seach_click_df['business_id'].map(small_table.set_index('id')['name'])

In [17]:
seach_click_df

,click_timestamp,search_id,business_id,display_position,time_diff_nanos,ads,business_name
0,11:38.9,5c004472-5ecc-4159-9698-9f329b8e26e1,298839.0,0,2.220000e+15,True,à¸à¸¹à¸à¸­à¸à¸­à¸±à¸à¸¢à¸­à¸ Eight
1,30:51.3,5f34eca0-c04e-4c10-b600-54aa447dbd8e,171372.0,0,4.610000e+14,True,Yoshinoya
2,32:09.6,8dc6d1f0-11f1-4239-9dd2-5c1674c81224,16157.0,0,2.580000e+15,True,The Hub Cafe and Eatery
3,00:59.8,1a5810e9-3d1f-44b9-9a2e-26ede21c524b,89741.0,1,1.400000e+15,True,à¸à¸±à¹à¸à¹à¸«à¹ à¹à¸ªà¸µà¹à¸¢à¸§à¸«à¸¥...
4,23:36.8,6bc75e0d-fc65-471e-9926-ff6be6708639,189564.0,1,9.330000e+14,True,Yoshinoya
...,...,...,...,...,...,...,...
1048570,05:28.8,99aab616-6fc5-4fbf-994b-4aebee7bb360,278479.0,8,2.070000e+11,False,à¹à¸ªà¸à¹à¸à¹à¸§à¸®à¹à¸­à¸
1048571,15:28.8,d70a2c5d-ee94-4e4c-9f7c-c5faac6db12a,321885.0,8,6.931413e+10,False,à¸à¹à¸§à¸¢à¹à¸à¸µà¹à¸¢à¸§à¸«à¸¡à¸¹à¸«à¸à...
1048572,11:49.4,4c1de7fe-300e-41aa-9d01-914344fc3753,221035.0,8,3.105162e+10,False,Laemcharoen Seafood
1048573,10:33.7,2ec0ddec-e450-4b98-9779-42b77aa7eda5,220572.0,8,7.848904e+10,False,à¹à¸­à¸µà¹à¸¢à¸§à¹à¸à¹ à¸ªà¸¸à¸à¸µà¹à¹...
1048574,13:51.4,5741d9cf-b9f1-441d-aa83-d2b0179bf874,310448.0,8,3.157757e+10,False,Icy-me

### รวมตาราง .merge()

### รวม 2 ตารางเข้าด้วยกัน combine two table

### ตารางใหม่ = seach_click_df.merge(small_table, ตารางหลัก = 'left', ตารางด้านซ้ายมี key คือ = 'business_id',ตารางด้านขวามี key คือ = 'id')

In [19]:
merged_table = seach_click_df.merge(small_table,how = 'left', left_on = 'business_id',right_on = 'id')

In [21]:
merged_table.head()

,click_timestamp,search_id,business_id,display_position,time_diff_nanos,ads,business_name,name,city_name,zipcode,weighted_average_rating,id
0,11:38.9,5c004472-5ecc-4159-9698-9f329b8e26e1,298839.0,0,2.220000e+15,True,à¸à¸¹à¸à¸­à¸à¸­à¸±à¸à¸¢à¸­à¸ Eight,à¸à¸¹à¸à¸­à¸à¸­à¸±à¸à¸¢à¸­à¸ Eight,Bangkok Metropolitan Region,10110,3.836735,298839.0
1,30:51.3,5f34eca0-c04e-4c10-b600-54aa447dbd8e,171372.0,0,4.610000e+14,True,Yoshinoya,Yoshinoya,Bangkok Metropolitan Region,NaN,3.118367,171372.0
2,32:09.6,8dc6d1f0-11f1-4239-9dd2-5c1674c81224,16157.0,0,2.580000e+15,True,The Hub Cafe and Eatery,The Hub Cafe and Eatery,Bangkok Metropolitan Region,NaN,4.015184,16157.0
3,00:59.8,1a5810e9-3d1f-44b9-9a2e-26ede21c524b,89741.0,1,1.400000e+15,True,à¸à¸±à¹à¸à¹à¸«à¹ à¹à¸ªà¸µà¹à¸¢à¸§à¸«à¸¥...,à¸à¸±à¹à¸à¹à¸«à¹ à¹à¸ªà¸µà¹à¸¢à¸§à¸«à¸¥...,Bangkok Metropolitan Region,10900,3.444134,89741.0
4,23:36.8,6bc75e0d-fc65-471e-9926-ff6be6708639,189564.0,1,9.330000e+14,True,Yoshinoya,Yoshinoya,Bangkok Metropolitan Region,10110,2.972672,189564.0

![join table](่table.jng)

![pandas-dataframe-shadow](่pandas-dataframe-shadow.jng)

## HW ทดลองสร้าง 4 วิธีตามตาราง

## Dictionary

In [13]:
import pandas as pd
sale = [{'account':'Jones LLC','Jan':150,'Feb':200,'Mar':140},
        {'account':'Alphs Co','Jan':200, 'Feb':200,'Mar':215},
        {'account':'Blue Inc', 'Jan':50,'Feb':210,'Mar':95}]
Dictionary = pd.DataFrame(sale)

In [14]:
print(Dictionary)

     account  Jan  Feb  Mar
0  Jones LLC  150  200  140
1   Alphs Co  200  200  215
2   Blue Inc   50  210   95

## List

In [23]:
sale = [('Jones LLC',150,200,140),
        ('Alphs Co',200, 200,215),
        ('Blue Inc',210,90,95)]
c1 = ['account','Jan','Feb','Mar']
L2 = pd.DataFrame(sale,columns=c1)

In [25]:
print(L2)

     account  Jan  Feb  Mar
0  Jones LLC  150  200  140
1   Alphs Co  200  200  215
2   Blue Inc  210   90   95

## contumn oriented from list

In [28]:
sale = {'account':['Jones LLC','Alpha co','Blue Inc'],
                'Jan':[150,200,50],
                 'Feb':[200,210,90],
                  'Mar':[140,215,95]}
contumm = pd.DataFrame(sale)

In [30]:
print(contumm)

     account  Jan  Feb  Mar
0  Jones LLC  150  200  140
1   Alpha co  200  210  215
2   Blue Inc   50   90   95

## contumm oriented from item

In [41]:
sale = [('account',['Jones LLC', 'Alpha co', 'Blue Inc']),
          ('Jan', [150,200,50]),
          ('Feb', [200,210,90]),
         ('Mar', [140,215,95]) ]
c2 = pd.DataFrame.from_items (sale)

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: from_items is deprecated. Please use DataFrame.from_dict(dict(items), ...) instead. DataFrame.from_dict(OrderedDict(items)) may be used to preserve the key order.
  """

In [42]:
print(c2)

     account  Jan  Feb  Mar
0  Jones LLC  150  200  140
1   Alpha co  200  210  215
2   Blue Inc   50   90   95

# .iloc เข้าถึงอาเลย์ access data in the table as array

In [1]:
import pandas as pd

In [2]:
w_restaurant_PATH = 'C:\\Users\\User\\Desktop\\w_restaurant.csv'
seach_click_PATH = 'C:\\Users\\User\\Desktop\\search_click.csv'
w_restaurant_df = pd.read_csv(w_restaurant_PATH, encoding = 'unicode_escape')
seach_click_df = pd.read_csv(seach_click_PATH, encoding = 'unicode_escape')

In [3]:
w_restaurant_df.head()

,id,name,domain_id,closed,city_name,zipcode,geohash,new_open,weighted_average_rating,number_of_chains,...,good_for_groups,good_for_kids,bookable,best_of_wongnai,wifi,number_of_seats,music_venue,hotel_restaurant,pet_friendly,delivery
0,2,à¸à¸à¸£à¸´à¸à¸à¸£à¹à¸à¸±à¸à¸à¸à¸£à¸£à¸¡,2,0,Samut Songkhram,75000,w4rh7g3,0,5.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN
1,4,Corner House,1,0,Bangkok Metropolitan Region,12150,w4rx73h,0,2.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5,à¸§à¸±à¸à¹à¸¥à¸à¸¢à¸ªà¸¸à¸à¸²à¸£à¸²à¸¡,4,0,Phra Nakhon Si Ayutthaya,13000,w4x98jk,0,4.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6,à¸à¸±à¸à¸à¹à¸à¸²à¸£à¸²à¹à¸­à¹à¸à¸°,1,0,Bangkok Metropolitan Region,10700,w4rqw9q,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7,Buono Caffe,1,0,Bangkok Metropolitan Region,10220,w4rx4gd,0,3.738462,NaN,...,NaN,NaN,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN

In [5]:
w_restaurant_df.iloc[2,4]

'Phra Nakhon Si Ayutthaya'

### สร้าง create a new column which a concatenation of name,city_name,zipcode -> name(city_name(zipcode)) จะต้องสร้างเป็น list ก่อน

วิธีสร้างstring

In [14]:
f'KKU{w_restaurant_df.iloc[2,1]}'

'KKUà¸§à¸±à¸\x94à¹\x82à¸¥à¸\x81à¸¢à¸ªà¸¸à¸\x98à¸²à¸£à¸²à¸¡'

In [15]:
new_column = list()

In [9]:
new_string = f'{w_restaurant_df.iloc[2,1]} ({w_restaurant_df.iloc[2,4]}({w_restaurant_df.iloc[2,5]}))'

In [10]:
new_string

'à¸§à¸±à¸\x94à¹\x82à¸¥à¸\x81à¸¢à¸ªà¸¸à¸\x98à¸²à¸£à¸²à¸¡ (Phra Nakhon Si Ayutthaya(13000))'

## สร้างlist ใช้คำสั่ง range

In [16]:
a = range(9)
for i in a:
    print(i)

0
1
2
3
4
5
6
7
8

## ให้รู้ว่ามีกี่หลักกี่แถว

In [17]:
w_restaurant_df.shape

(246847, 32)

In [18]:
for i in range(w_restaurant_df.shape[0]):
    new_string = f'{w_restaurant_df.iloc[i,1]} ({w_restaurant_df.iloc[i,4]}({w_restaurant_df.iloc[i,5]}))' 
    new_column.append(new_string)

In [19]:
new_column[:5]

['à¸\x99à¸\x84à¸£à¸´à¸\x99à¸\x97à¸£à¹\x8cà¸\x97à¸±à¸\x99à¸\x95à¸\x81à¸£à¸£à¸¡ (Samut Songkhram(75000))',
 'Corner House (Bangkok Metropolitan Region(12150))',
 'à¸§à¸±à¸\x94à¹\x82à¸¥à¸\x81à¸¢à¸ªà¸¸à¸\x98à¸²à¸£à¸²à¸¡ (Phra Nakhon Si Ayutthaya(13000))',
 'à¸\x99à¸±à¸\x99à¸\x97à¹\x8cà¸\x84à¸²à¸£à¸²à¹\x82à¸\xadà¹\x80à¸\x81à¸° (Bangkok Metropolitan Region(10700))',
 'Buono Caffe (Bangkok Metropolitan Region(10220))']

In [20]:
w_restaurant_df['new string'] = new_column

In [23]:
w_restaurant_df.head()

,id,name,domain_id,closed,city_name,zipcode,geohash,new_open,weighted_average_rating,number_of_chains,...,good_for_kids,bookable,best_of_wongnai,wifi,number_of_seats,music_venue,hotel_restaurant,pet_friendly,delivery,new string
0,2,à¸à¸à¸£à¸´à¸à¸à¸£à¹à¸à¸±à¸à¸à¸à¸£à¸£à¸¡,2,0,Samut Songkhram,75000,w4rh7g3,0,5.000000,NaN,...,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN,à¸à¸à¸£à¸´à¸à¸à¸£à¹à¸à¸±à¸à¸à¸à¸£à¸£à...
1,4,Corner House,1,0,Bangkok Metropolitan Region,12150,w4rx73h,0,2.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Corner House (Bangkok Metropolitan Region(12150))
2,5,à¸§à¸±à¸à¹à¸¥à¸à¸¢à¸ªà¸¸à¸à¸²à¸£à¸²à¸¡,4,0,Phra Nakhon Si Ayutthaya,13000,w4x98jk,0,4.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,à¸§à¸±à¸à¹à¸¥à¸à¸¢à¸ªà¸¸à¸à¸²à¸£à¸²à¸¡ (Ph...
3,6,à¸à¸±à¸à¸à¹à¸à¸²à¸£à¸²à¹à¸­à¹à¸à¸°,1,0,Bangkok Metropolitan Region,10700,w4rqw9q,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,à¸à¸±à¸à¸à¹à¸à¸²à¸£à¸²à¹à¸­à¹à¸à¸° (Ba...
4,7,Buono Caffe,1,0,Bangkok Metropolitan Region,10220,w4rx4gd,0,3.738462,NaN,...,NaN,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,Buono Caffe (Bangkok Metropolitan Region(10220))